*{
  margin: 0;
  padding: 0;
}
body{
  // background-color: ;
}
#container{
  height: 100vh;
  position: relative;
}
#canvas{
  height: 100%;
}
nav{
  position: absolute;
  top: 10px;
  left: 10px;
}
