// compileCompressed
*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', ;
}

#container{
  height: 100vh;
  position: relative;
}
#canvas{
  height: 100%;
}

span.energy {
  font-size: 20px;
  font-weight: bold;
}
span.parameter {
  font-size: 16px;
}

.navigation {
  position: absolute;
  top: 1vh;
  left: 2vw;
  background-color: #F0F0F0;
  padding: 5px;
}

button{
  margin: 0.3em;
}

#log_area {
  position: absolute;
  top: 21vh;
  right: 1vw;
  text-align: center;
  padding: 10px;
  width: 24%;
  height: 200px;
}

#q_log {
  width: 100%;
  font-family: 'Inconsolata', ;
  font-size: 10px;
}

.absolute{
  position: absolute;
  top:0;
  left:0;
}

.stage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.plot{
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 20vw;
  height: 10vw;
}

div.sliders{
  position: absolute;
  top: 20vh;
  left: 2vw;
  width: 20vw;
  background-color: #F0F0F0;
  border-color: black;
  padding: 10px;
}

#formula{
  position: absolute;
  top: 71.5vh;
  width: 90vw;
}

.score{
  position: absolute;
  top: 12vh;
  left: 2vw;
  width: 20vw;
  background-color: #FFF0F0;
  padding: 10px;
}

div#map_container {
  position: absolute;
  top: 12vh;
  left: 26vw;
  width: 800px;
  height: 800px;
  background-color: #F8F8F8;
}

.lightbox{
  padding: 2em;
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 10;
  max-width: 50%;
  background-color: #BBB;
  transition: all 1s;

  &.active{
    top:20%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-2-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Regular'), local('Exo2-Regular'),
       url('../fonts/exo-2-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/exo-2-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/exo-2-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/exo-2-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/exo-2-v7-latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}
