// compileCompressed

$box-background: #F0F0F0;
$topmost-top: 2vh;
$side-margin: 2vw;

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', ;
}

#container{
  height: 100vh;
  position: relative;
}
#canvas{
  height: 100%;
}

span.energy {
  font-size: 20px;
  font-weight: bold;
}
span.parameter {
  font-size: 16px;
}

.navigation {
  position: absolute;
  bottom: 1vh;
  width: 90vw;
  left: 5vw;
  text-align: center;

  background-color: $box-background;
  padding: 5px;
}

button{
  margin: 0.3em;
}

.absolute{
  position: absolute;
  top:0;
  left:0;
}

div.editor-palette {
  position: absolute;
  left: $side-margin;
  top: 42vh;
  width: 20vw;
  height: 40vh;
  background-color: $box-background;
}

div#editor-current-type {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.wall {
  background-color: #000000; 
}

.regular {
  background-color: $box-background;
}

.end {
  background-image: url('../img/station.png');
  background-size: contain;
  background-color: #8F1A81;
}

.start {
  background-image: url('../img/robot.png');
  background-size: contain;
  background-color: #FFEC02;
}

.dangerous {
  background-color: #665F25;
 }

.stage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.sliders{
  position: absolute;
  top: 10vh;
  left: $side-margin;
  width: 20vw;
  background-color: $box-background;
  border-color: black;
  padding: 10px;
}

#formula{
  position: absolute;
  bottom: 8vh;
  width: 50vw;
  left: 25vw;
}

.score{
  position: absolute;
  top: $topmost-top;
  left: $side-margin;
  width: 20vw;
  background-color: #FFF0F0;
  padding: 10px;
}

#map_data {
  position: absolute;
  right: $side-margin;
  top: 54vh;
  width: 20vw;
  height: 40vh;
}

div#map_container {
  position: absolute;
  top: $topmost-top;
  left: 26vw;
  width: 800px;
  height: 800px;
  background-color: #F8F8F8;
}

.lightbox{
  padding: 2em;
  position: absolute;
  top: $topmost-top;
  right: $side-margin;
  width: 22vw;
  height: 70vh;
  background-color: #BBB;
}

/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-2-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Regular'), local('Exo2-Regular'),
       url('../fonts/exo-2-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/exo-2-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/exo-2-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/exo-2-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/exo-2-v7-latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}
